{% extends '_layout.twig' %}
{% block content %}

{% set productenQuery = craft.entries().section('producten').limit(6) %}

{% set typeParam = craft.app.request.getParam('typeart') %}

{% if typeParam is iterable %}
    {% set selectedType = typeParam %}
{% else %}
    {% set selectedType = typeParam ? typeParam|split(',') : [] %}
{% endif %}

{% if selectedType|length %}
    {% set productenQuery = productenQuery.relatedTo({ targetElement: selectedType, field: 'typeart' }) %}
{% endif %}

{% paginate productenQuery as pageInfo, pageEntries %}

{% set typeArts = craft.entries.section('typeart').all() %}

<main>
    <form>
        <div class="filter">
            {% for typeArt in typeArts %}
                {% set isSelected = typeArt.id in selectedType %}
                <label>
                    <input type="checkbox" name="typeart[]" value="{{ typeArt.id }}" {% if isSelected %}checked{% endif %} onchange="this.form.submit()">
                    {{ typeArt.title }}
                </label>
            {% endfor %}
        </div>
    </form>

    {% if pageEntries|length %}
        <div class="carousel">
            <ul class="carouselList">
                {% for product in pageEntries %}
                    <a href="{{ product.url }}">
                        {% include '_snippits/_card.twig' with { product: product } %}
                    </a>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="pagination">
        {% if pageInfo.prevUrl %}
            <a href="{{ pageInfo.prevUrl }}"><</a>
        {% endif %}
        {% if pageInfo.nextUrl %}
            <a href="{{ pageInfo.nextUrl }}">></a>
        {% endif %}
    </div>
</main>
{% endblock %}
