{% extends '_layout.twig'%}


{% set slug = craft.app.request.getSegment(2) %}
{% set product = craft.entries.section('producten').slug(slug).one() %}

{% block content %}

{% set afbeelding = product.afbeelding.one() %}


        <div class="product">
            <img src="{{ afbeelding.url }}" alt="{{ product.title }}"/>
            <div class="productDetails">
                <div class="productDescription">
                    <h1>{{ product.title }}</h1>
                    <p>{{ product.omschrijving }}</p>
                    {# <p>{{ product.longDescription }}</p> #}
                    <ul>
                        {# <li class="tags">{{ tag}} </li> #}
                    </ul>
                </div>
                <div class="productPrijsCart">
                    <div >
                    <p id="prijs">€ {{ product.prijs|money('be') }}</p>
                    </div>
{% endblock %}